.nav-link, .nav-item {
   color: #fcfcfc;
}
.nav-link:hover{
    color: #f00d18;
}
h2, h1, li, a {
    color:rgb(255, 255, 255);
    font-family: serif;
    font-weight: bold;
}
.a, a{
    color:rgb(165, 63, 63);
}

